.trello-app {
  text-align: center;
  height: 100%;
}

.App-header {
  border-bottom: 1px solid #ccc;
}

.add-btn-container {
  margin: 15px 20px;
  text-align: right;
}

.list-container {
  display: flex;
  height: 85vh;
}

.del-list-btn,
.del-card-btn {
  font-size: 30px;
  padding: 0;
  float: right;
  border: none;
  display: contents;
}

.del-list-btn svg,
.del-card-btn svg {
  float: inherit;
}

.add-card-btn {
  border: none;
  font-size: 50px;
  color: orangered;
  display: inline-flex;
  padding: 0;
}

svg {
  vertical-align: super;
}

.card-desc p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
